In [3]:
from sqlalchemy import create_engine

# Database credentials
username = 'root'
password = 'hillsong'
database = 'md_water_services'

# Create an SQLAlchemy engine
engine = create_engine(f"mysql+pymysql://{username}:{password}@localhost/{database}")

# Test the connection by printing the table names
with engine.connect() as connection:
    result = connection.execute("SHOW TABLES;")
    for row in result:
        print(row)

('auditor_report',)
('data_dictionary',)
('employee',)
('global_water_access',)
('incorrect_records',)
('location',)
('visits',)
('water_quality',)
('water_source',)
('well_pollution',)

In [5]:
!pip install ipython-sql

Requirement already satisfied: ipython-sql in c:\users\alber\anaconda3\envs\personal\lib\site-packages (0.3.9)
Requirement already satisfied: prettytable in c:\users\alber\anaconda3\envs\personal\lib\site-packages (from ipython-sql) (3.5.0)
Requirement already satisfied: ipython>=1.0 in c:\users\alber\anaconda3\envs\personal\lib\site-packages (from ipython-sql) (8.25.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\users\alber\anaconda3\envs\personal\lib\site-packages (from ipython-sql) (1.4.4)
Requirement already satisfied: sqlparse in c:\users\alber\anaconda3\envs\personal\lib\site-packages (from ipython-sql) (0.4.4)
Requirement already satisfied: six in c:\users\alber\anaconda3\envs\personal\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\alber\anaconda3\envs\personal\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: decorator in c:\users\alber\anaconda3\envs\personal\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\alber\anaconda3\envs\personal\lib\site-packages (from ipython>=1.0->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in c:\users\alber\anaconda3\envs\personal\lib\site-packages (from ipython>=1.0->ipython-sql) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\users\alber\anaconda3\envs\personal\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in c:\users\alber\anaconda3\envs\personal\lib\site-packages (from ipython>=1.0->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in c:\users\alber\anaconda3\envs\personal\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5.13.0 in c:\users\alber\anaconda3\envs\personal\lib\site-packages (from ipython>=1.0->ipython-sql) (5.14.3)
Requirement already satisfied: colorama in c:\users\alber\anaconda3\envs\personal\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.6)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\alber\anaconda3\envs\personal\lib\site-packages (from sqlalchemy>=0.6.7->ipython-sql) (3.0.1)
Requirement already satisfied: wcwidth in c:\users\alber\anaconda3\envs\personal\lib\site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in c:\users\alber\anaconda3\envs\personal\lib\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: executing in c:\users\alber\anaconda3\envs\personal\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in c:\users\alber\anaconda3\envs\personal\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in c:\users\alber\anaconda3\envs\personal\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.2.2)

In [6]:
# Load the sql extension
%load_ext sql

# Connect to the MySQL database
%sql mysql+pymysql://root:hillsong@localhost/md_water_services

'Connected: root@md_water_services'

In [7]:
%%sql
SELECT *
FROM employee
LIMIT 5;

 * mysql+pymysql://root:***@localhost/md_water_services
5 rows affected.

[(0, 'Amara Jengo', '+99637993287', 'amara.jengo@ndogowater.gov', '36 Pwani Mchangani Road', 'Sokoto', 'Ilanga', 'Field Surveyor'),
 (1, 'Bello Azibo', '+99643864786', 'bello.azibo@ndogowater.gov', '129 Ziwa La Kioo Road', 'Kilimani', 'Rural', 'Field Surveyor'),
 (2, 'Bakari Iniko', '+99222599041', 'bakari.iniko@ndogowater.gov', '18 Mlima Tazama Avenue', 'Hawassa', 'Rural', 'Field Surveyor'),
 (3, 'Malachi Mavuso', '+99945849900', 'malachi.mavuso@ndogowater.gov', '100 Mogadishu Road', 'Akatsi', 'Lusaka', 'Field Surveyor'),
 (4, 'Cheche Buhle', '+99381679640', 'cheche.buhle@ndogowater.gov', '1 Savanna Street', 'Akatsi', 'Rural', 'Field Surveyor')]

# ALL CODE FOR THE MAJI NDOGO PROJECT THREE ~ a

In [ ]:
"""

DROP TABLE IF EXISTS `auditor_report` ;

CREATE TABLE `auditor_report` (
	`location_id` VARCHAR(32),
    `type_of_water_source` VARCHAR(64),
    `true_water_source_score` int DEFAULT NULL,
    `statements` VARCHAR(255)
);


select
	type_of_water_source,
    count(*) as number_per_source
from
	auditor_report
group by type_of_water_source; -- counting the number per each source


select
	true_water_source_score,
    count(*) as score_frequency
from
	auditor_report
group by true_water_source_score
order by true_water_source_score asc; -- counting the frequency of each score
	
    
SELECT
	aud.location_id,
    vis.record_id,
    aud.true_water_source_score as auditor_score,
    wat.subjective_quality_score as surveyor_score
FROM
	auditor_report as aud
JOIN 
	visits as vis on aud.location_id = vis.location_id
JOIN
	water_quality as wat on wat.record_id = vis.record_id
WHERE
	aud.true_water_source_score = wat.subjective_quality_score
AND
	vis.visit_count = 1; -- the query to compare the auditor and surveyor's scores. duplicates are removed in this query


WITH error_count AS (
	-- Count mistakes per employee
	SELECT
		employee_name,
		COUNT(*) AS mistakes
	FROM
		incorrect_records
	GROUP BY
		employee_name
	ORDER BY
		mistakes DESC
)
SELECT	
	AVG(mistakes) AS total_avg_mistakes
FROM
	error_count;  -- a query to check the total overall average mistakes made 


    
WITH error_count AS (
	-- Collect records where scores don't match for the first visit
	WITH incorrect_records AS (	
		SELECT
			aud.location_id,
			vis.record_id,
			aud.true_water_source_score as auditor_score,
			wat.subjective_quality_score as surveyor_score,
			vis.assigned_employee_id,
			emp.employee_name
		FROM
			auditor_report as aud
		JOIN 
			visits as vis ON aud.location_id = vis.location_id
		JOIN
			water_quality as wat ON wat.record_id = vis.record_id
		JOIN
			employee as emp ON emp.assigned_employee_id = vis.assigned_employee_id
		WHERE
			aud.true_water_source_score != wat.subjective_quality_score
		AND
			vis.visit_count = 1
	)
	-- Count mistakes per employee
	SELECT
		employee_name,
		COUNT(*) AS mistakes
	FROM
		incorrect_records
	GROUP BY
		employee_name
	ORDER BY
		mistakes DESC
)
-- Select employees with mistakes above the average
SELECT
	employee_name,
	mistakes
FROM 
	error_count
WHERE 
	mistakes > (
	SELECT
		AVG(mistakes) AS total_avg_mistakes
	FROM
		error_count);  -- THIS WHOLE QUERY IS TO CHECK THE LIST OF EMPLOYEES WHOSE MISTAKES ARE ABOVE THE AVERAGE THRESHOLD



CREATE VIEW incorrect_records AS (
    SELECT
        aud.location_id,
        vis.record_id,
        aud.true_water_source_score AS auditor_score,
        wat.subjective_quality_score AS surveyor_score,
        vis.assigned_employee_id,
        emp.employee_name,
        statements
    FROM
        auditor_report AS aud
    JOIN 
        visits AS vis ON aud.location_id = vis.location_id
    JOIN
        water_quality AS wat ON wat.record_id = vis.record_id
    JOIN
        employee AS emp ON emp.assigned_employee_id = vis.assigned_employee_id
    WHERE
        aud.true_water_source_score != wat.subjective_quality_score
    AND
        vis.visit_count = 1
);  -- turning incorrect records into a view


WITH error_count AS (
	-- Count mistakes per employee
	SELECT
		employee_name,
		COUNT(*) AS mistakes
	FROM
		incorrect_records
	GROUP BY
		employee_name
	ORDER BY
		mistakes DESC
)
-- Select employees with mistakes above the average
SELECT
	employee_name,
	mistakes
FROM 
	error_count
WHERE 
	mistakes > (
	SELECT
		AVG(mistakes) AS total_avg_mistakes
	FROM
		error_count);  -- same query as above except incorrect_records has now been turned into a view
        


WITH error_count AS (
    -- Count mistakes per employee
    SELECT
        employee_name,
        COUNT(*) AS mistakes
    FROM
        incorrect_records
    GROUP BY
        employee_name
    ORDER BY
        mistakes DESC
),
suspect_list AS (
    -- Select employees with above-average mistakes
    SELECT
        employee_name,
        mistakes
    FROM
        error_count
    WHERE
        mistakes > (
            SELECT AVG(mistakes) AS total_avg_mistakes
            FROM error_count
        )
)
-- Final selection of details for employees in the suspect list
SELECT
    employee_name,
    location_id,
    statements
FROM
    incorrect_records
WHERE
    employee_name IN (SELECT employee_name FROM suspect_list)
    AND statements like '%cash%'
ORDER BY employee_name;  -- A QUERY TO CHECK THE SUSPECT LIST AND STATEMENTS ASSOCIATED WITH THEM. FILTERED TO HAVE CASH MENTIONED

"""